<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <filter>
    <display-name>Charset</display-name>
    <filter-name>Charset</filter-name>
    <filter-class>com.sxsqli.filter.Charset</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Charset</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.sxsqli.listener.InitOnlineUsers</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>CheckForm</display-name>
    <servlet-name>CheckForm</servlet-name>
    <servlet-class>com.sxsqli.servlet.CheckForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckForm</servlet-name>
    <url-pattern>/CheckForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.sxsqli.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPhoto</display-name>
    <servlet-name>UploadPhoto</servlet-name>
    <servlet-class>com.sxsqli.servlet.UploadPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPhoto</servlet-name>
    <url-pattern>/UploadPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Setting</display-name>
    <servlet-name>Setting</servlet-name>
    <servlet-class>com.sxsqli.servlet.Setting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Setting</servlet-name>
    <url-pattern>/Setting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chat</display-name>
    <servlet-name>Chat</servlet-name>
    <servlet-class>com.sxsqli.servlet.Chat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chat</servlet-name>
    <url-pattern>/Chat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lunxun</display-name>
    <servlet-name>Lunxun</servlet-name>
    <servlet-class>com.sxsqli.servlet.Lunxun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lunxun</servlet-name>
    <url-pattern>/Lunxun</url-pattern>
  </servlet-mapping>
</web-app>